.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #fff;
  padding-top: 20px; /* Ensure there is space at the top for the bar */
}

.bar {
  width: 100%;
  height: 20px; /* Adjust height as needed */
  background: linear-gradient(to right, #f2eda8, #fae100, #fed34c, #eaab00); /* Gradient colors */
  position: fixed; /* Fix the bar at the top */
  top: 0;
  left: 0;
  z-index: 1; /* Ensure the bar stays on top */
}

.loginContainer {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 40%;
  margin-top: 40px; /* Space between the bar and the login container */
}

.logoContainer {
  margin-bottom: 20px;
}

.CCheading {
  font-size: 36px;
  color: #333;
}

.Loginheading {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  position: relative;
}

.label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background: #fff;
  padding: 0 5px;
  color: #555;
  transition: 0.2s;
  pointer-events: none;
  background: transparent; /* Remove background color */
}

.inputText,
.inputPassword {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border 0.2s;
}

.inputText:focus,
.inputPassword:focus {
  border: 2px solid #000; /* Make the border a little bolder on focus */
  box-shadow: none; /* Remove default box-shadow */
}

.inputText:focus + .label,
.inputPassword:focus + .label,
.inputText:not(:placeholder-shown) + .label,
.inputPassword:not(:placeholder-shown) + .label {
  left: -5px; /* Move the label up */
  top: -5px;
  transform: translateY(-100%);
  font-size: 13px;
  color: #000;
}


.errorInput .inputText,
.errorInput .inputPassword {
  border-color: red;
}

.errorMessage {
  color: red;
}

.eyeButton {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #555;
}

.loading {
  display: inline-block;
  position: relative;
  color: #fff;
}

.loading::after {
  content: '';
  display: inline-block;
  animation: ellipsis 1.8s infinite;
}


@keyframes ellipsis {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}

.registerText {
  font-size: 14px;
  color: #000; /* Set color to black */
}

.registerLink {
  font-weight: bold;
  text-decoration: underline;
  color: #000; /* Set color to black */
}
