@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #F2EDA8, #f1f1f1);
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.loginContainer {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.heading {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #333;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label {
  font-size: 1rem;
  color: #333;
  text-align: left;
}

.inputText,
.inputPassword {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #f1f1f1;
}

.inputText::placeholder,
.inputPassword::placeholder {
  color: #aaa;
  font-weight: 400;
}

.inputText:focus,
.inputPassword:focus {
  border-color: #2575fc;
  outline: none;
  background-color: #fff;
}

.button {
  padding: 0.75rem;
  background: #2575fc;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background: #1e5db9;
}

.message {
  margin-top: 1rem;
  font-size: 1rem;
  color: #ff4d4d;
}

.registerLink {
  margin-top: 1rem;
  font-size: 1rem;
  color: #333;
}

.registerLink a {
  color: #2575fc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.registerLink a:hover {
  color: #1e5db9;
}


.loginContainer {
  background-color: #fff;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.logoContainer {
  margin-bottom: 20px;
}
